// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

.products {
  table {
    border-collapse: collapse;
    width: 100%;
  }

  table tr td {
    padding: 5px;
    vertical-align: top;
  }

  .list_image_wrap {
    width: 80px;
  }
  .list_image {
    width: 60px;
    height: 70px;
    border: solid 1px #eee;
  }

  .list_description {
    width: 60%;
    // padding:
    dl {
      margin: 0;
      padding: 5px 0;
    }

    dt {
      color: #224;
      font-weight: bold;
      font-size: larger;
    }

    dd {
      margin: 0;
    }
  }

  .list_actions {
    font-size: small;
    text-align: right;
    padding-left: 1em;
    padding-right: .5em;
    padding-top: .5em;
  }

  .list_line_even {
    background: #fefefe;
  }

  .list_line_odd {
    background: #efefef;
  }
}
